.main {
    padding: 20px;
}
.add-player {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}
.add-player input {
    flex-grow: 1;
}
.add-score {
    display: flex;
}
.player {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 20px;
}
.player-info {
    display: flex;
    align-items: center;
}